/*Reset Basico CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fonte e a cor base do corpo do site */
body {
    font-family:'Ariel', sans-serif;
    color: #333;
    background-color: #ffffff;
    line-height: 1.6;
}

/*Centraliza e define o layout */
.conteiner {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}


/*Cabeçalho */
header {
    background-color: #fff;
    border-bottom: 2px solid #d9c2f2;
}

header .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


